<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../public/description.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <title><%=title%></title>
</head>
<body>

    <h1 class="title"><%=title%></h1>
    <br>
    <div class="align-centre">
        <a class="link" target="__blank" href=<%=url%>>Link to the Problem</a>
        <br>
        <a class="link" target="__blank" href="https://ideone.com/">Link to IDE</a>
    </div>
    <br>
    <% for(let i=0; i<data.length; i++){%>
        <p class="problem-description"><%=data[i]%></p>        
    <%}%>

    <footer>
        <div class="footer-content">
            <ul class="socials">
                <li><a href="https://www.facebook.com/nandan.abhijeet.1/"  target="__blank"><i class="fa fa-facebook"></i> </a></li>
                <li><a href="mailto:abhijeetnandan02@gmail.com"  target="__blank"><i class="fa fa-google-plus"></i> </a></li>
                <li><a href="https://www.linkedin.com/in/abhijeet-nandan-0755a31b2/"  target="__blank"><i class="fa fa-linkedin-square"></i> </a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>GO GREEN</p>
            <p>copyright &copy;2022 Designed By NANDAN</p>
        </div>
    </footer>


</body>
</html>